version: '3.9'

services:
  db:
    image: postgres:15
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_USER: wayfair
      POSTGRES_PASSWORD: wayfair123
      POSTGRES_DB: wayfairstudio
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
